/* pm2.rc */

#include <os2.h>

#define ID_LEDA         1

#define IDM_FILE        1
#define IDM_EXIT        2
#define IDM_CRASH       3

ICON ID_LEDA leda.ico

MENU ID_LEDA
BEGIN
    SUBMENU "~File", IDM_FILE
    BEGIN
        MENUITEM "~Fonts",                 IDM_CRASH
        MENUITEM "E~xit\tF3",              IDM_EXIT
    END
END

ACCELTABLE ID_LEDA
BEGIN
  VK_F3,  IDM_EXIT,      VIRTUALKEY
END
